
restrict ::1
restrict 127.0.0.1
keys /etc/ntp/keys
driftfile /var/lib/ntp/ntp.drift

restrict -4 default kod notrap nomodify nopeer noquery limited
restrict -6 default kod notrap nomodify nopeer noquery limited
restrict source notrap nomodify noquery

{% for item in time_sources|default([]) %}
pool {{ item }} iburst
{% endfor %}
