{% if resolver_domain|default('') != '' %}
domain {{ resolver_domain }}
{% endif %}

{% if resolver_search|default('') != '' %}
search {{ resolver_search }}
{% endif %}

{% for item in resolver_nameservers|default([]) %}
nameserver {{ item }}
{% endfor %}
